body {
    background-color: #f4f6ff;
}

h1 {
    color: #4f8a8b;
}

h3 {
    color: #ea907a;
}

hr {
    width: 5%;
    border-color: gray;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
}
